body {
    margin: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:18px;
    }

.avatar {
    width: 110px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #ffddd2;
    color: #006d77;
    border-top: 6px dotted #e29578;
    border-radius: 30px;
}

.border-blue {
    border: 1px dotted blue;
}
